* {
    margin: 0;
    padding: 0;
}

body {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a, a:visited, a:hover {
    color: #0000FF;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border-width: 0px;
}

ul, ol, dl {
    margin-left: 30px;
}


#main_column {
    margin: 10px auto;
    text-align: left;
    width: 760px;
}

#header {
    border-bottom: solid 2px #333333;
    margin-bottom: 10px;
}

#header h1 {
    font-size: 38px;
}

#flash {
    border: solid 1px #CCCCCC;
    background-color: #F0F0F0;
    padding: 5px 10px;
}

#navigation {
    border-right: solid 1px #333333;
    float: left;
    margin-top: 10px;
    width: 150px;
}

#content {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    min-height: 260px;
    width: 500px;
}

.article {
    border-bottom: dotted 1px #666666;
    margin-bottom: 30px;
}

.article_header {
    margin-bottom: 10px;
}

.article_header h2 {
    margin-bottom: 5px;
}

.article_header span {
    color: #666666;
}

.article_content {
    margin-bottom: 10px;
}

#footer {
    border-top: solid 1px #333333;
    clear: both;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}